#dokumentacija-nav{
	border-bottom: 2px solid #fff;
}

.titlecard{
	margin-top: 60px;
	background-image: url("../img/dokumentacija.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 400px;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	/* filter: grayscale(100%); */
}

#grey-image{
	background-color: rgba(11,11,11,0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	width: 100%;
}

.titlecard h1{
	color: #fff;
	opacity: 1;
	font-size: 60px;
	text-shadow: 0 0 30px #262626;
}

.content{
	width: 70%;
	margin: 0 auto;
	padding: 50px 0;
	color: #262626;
}

/*------------------------------------DOKUMENTACIJA KARTICE---------------------------------------*/
.dokumentiRed{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.dokumentiRed1{
	padding-bottom: 2%;
}

.dokumentiRedPola{
	width: 49%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.dokumentiRedPola > a{
	padding: 13px 10px;
	width: 45%;
	color: #414141;
	font-size: 15px;
	/* border: 1px solid #b5b5b5; */
	/* border: 1px solid #fff; */
	/* border-radius: 9px; */
	border-radius: 2px;
	transition: 0.3s;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
}

.dokumentiRed h4{
	padding: 8px 5px;
	color: #262626;
	transition: 0.3s;
	/* opacity: 0.8; */
	/* font-weight: normal; */
	font-size: 14px;
}

.dokumentiRed p{
	padding: 5px 8px;
	color: #f69d68;
	background-color: #fff;
	border-radius: 20px;
	transition: 0.3s;
}

.dokumentiRedPola > a:hover{
	/* border: 1px solid #fff; */
	transition: 0.3s;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, .2); */
	transform: translate3d(0, -2px ,0);
	cursor: pointer;
}

.dokumentiRedPola > a:hover p{
	background-color: #f69d68;
	color: #fff;
}

.dokumentiRedPola > a:hover h4{
	/* text-decoration: underline; */
	opacity: 0.8;
}

@media only screen and (max-width: 1454px){
	h2{
		font-size: 22px;
	}
	
	.content{
		width: 85%;
	}
	
	.dokumentiRed{
		flex-wrap: wrap;
	}
	
	.dokumentiRed1{
		padding-bottom: 0;
	}

	.dokumentiRedPola{
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.dokumentiRedPola > a{
		width: 47%;
		font-size: 15px;
	}
	
	#dokument-razmak{
		margin-bottom: 1%;
	}
	
	#dokument-razmak-srednje{
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 1000px){
	h2{
		font-size: 20px;
	}
	
	#dokumentacija-nav{
		border: none;
	}

	.titlecard h1{
		color: #fff;
		font-size: 40px;
		text-shadow: 1px 1px 5px #262626;
	}
	
	#about-nav{
		border: none;
	}

	.titlecard h1{
		color: #fff;
		font-size: 40px;
		text-shadow: 1px 1px 5px #262626;
	}

	.content{
		width: 85%;
		padding: 30px 0;
	}
	
	.dokumentiRed{
		flex-wrap: wrap;
	}
	
	.dokumentiRed h4{
		font-size: 13px;
	}
	
	.dokumentiRed1{
		padding-bottom: 0;
	}

	.dokumentiRedPola{
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}

	.dokumentiRedPola > a{
		width: 99%;
		font-size: 15px;
	}
	
	#dokument-razmak{
		margin-bottom: 3%;
	}
	
	#dokument-razmak-srednje{
		margin-bottom: 3%;
	}
}