.nav-bar{
	height: 70px;
	background: #ea600e;
	position: fixed;
	width: 100%;
	border-bottom: 2px solid #ea600e;
	z-index: 1;
}

.brand{
	float: left;
	position: absolute;
	padding-left: 20px;
	padding-top: 10px;
	line-height: 72px;
	font-size: 1.5em;
}

.nav-container{
	max-width: 1500px;
	margin: 0 auto;
}

nav{
	float: right;
}

nav ul{
	list-style: none;
}

nav ul li{
	float: left;
	position: relative;
}

nav ul li a{
	display: block;
	padding: 0 20px;
	line-height: 70px;
	background: #ea600e;
	text-decoration: none;
	color: #fff;
	transition: 0.2s;
	border-bottom: 2px solid #ea600e;
}

nav ul li a:hover{
	background: #f47a2e;
	border-bottom: 2px solid #fff;
	transition: 0.2s;
}

nav ul li ul li {
	min-width: 280px;
}

nav ul li ul li a{
	padding: 15px;
	line-height: 20px;
}

.nav-dropdown{
	position: absolute;
	display: none;
	z-index: 1;
}

.nav-mobile{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	height: 70px;
	width: 70px;
}

#nav-toggle{
	position: absolute;
	left: 18px;
	top: 22px;
	cursor: pointer;
	padding: 10px 35px 15px 0px;
}

#nav-toggle span,
#nav-toggle span::before,
#nav-toggle span::after{
	position: absolute;
	display: block;
	content: '';
	background: #fff;
	height: 5px;
	width: 35px;
	transition: all 300ms ease-in-out;
}

#nav-toggle span::before{
	top: -10px;
}

#nav-toggle span::after{
	bottom: -10px;
}

#nav-toggle.active span{
	background-color: transparent;
}

#nav-toggle.active span::before, #nav-toggle.active span::after{
	top: 0;
}

#nav-toggle.active span::before{
	transform: rotate(45deg);
}

#nav-toggle.active span::after{
	transform: rotate(-45deg);
}

@media only screen and (max-width: 1000px) {
	.brand{
		padding-left: 20px;
		padding-top: 10px;
		line-height: 72px;
		font-size: 1em;
	}
	
	.brand img{
		width: 200px;
	}
	
	.nav-bar{
		border: none;
	}
	
	.nav-mobile{
		display: block;
	}

	nav{
		width: 100%;
		padding: 70px 0 15px;
	}

	nav ul{
		display: none;
	}

	nav ul li {
		float: none;
	}

	nav ul li a{
		padding: 15px;
		line-height: 20px;
		padding-left: 4%;
		border: none;
	}

	nav ul li a:hover{
		border: none;
	}

	nav ul li ul li a{
		padding-left: 10%;
	}

	.nav-dropdown{
		position: static;
	}
}

@media screen and (min-width: 1000px){
	.nav-list{
		display: block !important;
	}
}