#ponuda-nav{
	border-bottom: 2px solid #fff;
}

.titlecard{
	margin-top: 60px;
	background-image: url("../img/ponuda.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 400px;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	/* filter: grayscale(100%); */
}

#grey-image{
	background-color: rgba(11,11,11,0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	width: 100%;
}

.titlecard h1{
	color: #fff;
	opacity: 1;
	font-size: 60px;
	text-shadow: 0 0 30px #262626;
}

.content{
	max-width: 70%;
	/* width: 70%; */
	margin: 0 auto;
	padding: 50px 0;
	color: #262626;
}

.ponuda-ekran{
	width: 100%;
	display: inline-block;
}

.ponuda-opcije{
	float: left;
	display: flex;
	flex-direction: column;
	width: 20%;
}

.ponuda-opcije-btn{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	transition: 0.3s;
	color: #262626;
}

.odabranaOpcijaPonuda{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #fff;
	border-radius: 10px;
	transition: 0.3s;
	color: #fff;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, .2); */
	/* transform: translate3d(0, -2px ,0); */
	background-image: linear-gradient(to right, #ea600e, #fff);
}

.ponuda-opcije-btn i{
	padding: 5px 8px;
	border-radius: 20px;
}

.odabranaOpcijaPonuda i{
	padding: 5px 8px;
	border-radius: 20px;
	color: #262626;
}

.ponuda-opcije-btn:hover{
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	transform: translate3d(0, -2px ,0);
	color: #262626;
	cursor: pointer;
}

.odabranaOpcijaPonuda:hover{
	cursor: pointer;
}

.ponuda-opcije-btn:hover i{
	background-image: linear-gradient(to bottom right, #ea600e, #fff);
	color: #fff;
	transition: 0.3s;
}

.ponuda-tekst{
	float: right;
	width: 75%;
}

.ponuda-tekst a{
	text-decoration: none;
	color: #262626;
	transition: 0.3s;
}

.ponuda-tekst a:hover{
	opacity: 0.8;
	transition: 0.3s;
}

/*------------------------------------POGODNOSTI---------------------------------------*/
.pogodnosti ul{
	clear: both;
	padding-left: 50px;
}

.pogodnosti ul a{
	text-decoration: none;
	color: #262626;
	transition: 0.3s;
}

.pogodnosti ul a:hover{
	opacity: 0.8;
}

/*------------------------------------FINANCIJSKI SAVJETI---------------------------------------*/
.financijski-savjeti ul{
	padding-left: 50px;
}

.financijski-savjeti a{
	text-decoration: none;
	color: #262626;
	transition: 0.3s;
}

.financijski-savjeti a:hover{
	opacity: 0.8;
}

/*------------------------------------TIPOVI LEASINGA---------------------------------------*/
.tipovi-leasinga ul{
	padding-left: 50px;
}

#financijski-operativni{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#financijski-operativni div{
	width: 50%;
}

@media only screen and (max-width: 1000px){
	#ponuda-nav{
		border: none;
	}

	.titlecard h1{
		color: #fff;
		font-size: 40px;
		text-shadow: 1px 1px 5px #262626;
	}
}